<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ssafit.model.dao.FollowDao">

    <resultMap id="userResultMap" type="User">
        <id column="user_id" property="userId"/>
        <result column="password" property="password"/>
        <result column="user_name" property="userName"/>
        <result column="email" property="email"/>
        <result column="birth_date" property="birthDate"/>
        <result column="profile" property="profile"/>
    </resultMap>

    <resultMap id="followWishMap" type="HashMap">
        <result column="u.user_name" property="userName"/>
        <result column="v.title" property="title"/>
    </resultMap>

    <!--    SELECT * FROM user-->
    <!--    WHERE user_seq IN (SELECT to_user FROM follow WHERE from_user = 1);-->

    <select id="selectAllFollowing" parameterType="HashMap" resultMap="userResultMap">
        SELECT * FROM user
        WHERE user_id IN (SELECT to_user FROM follow WHERE from_user = #{fromUser});
    </select>


    <select id="selectAllFollower" parameterType="String" resultMap="userResultMap" >
        SELECT * FROM user
        WHERE user_id IN (SELECT from_user FROM follow WHERE to_user = #{toUser});
    </select>

    <insert id="addFollow" parameterType="HashMap">
        INSERT INTO follow VALUES(#{fromUser}, #{toUser});

    </insert>

    <delete id="unFollow" parameterType="HashMap">
        DELETE FROM follow WHERE from_user = #{fromUser} and to_user= #{toUser};
    </delete>

</mapper>

