<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ssafit.model.dao.LikeDao">
    <resultMap id="videoResultMap" type="Video">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="channel_name" property="channelName"/>

    </resultMap>

    <insert id="insertLike" parameterType="HashMap">
        INSERT INTO `like` (video_id, user_id)
        VALUES (#{videoId}, #{userId});

    </insert>

    <select id="selectAllLike" resultMap="videoResultMap" parameterType="String">
        SELECT *
        FROM video
        WHERE id IN (SELECT video_id
                     FROM `like`
                     WHERE user_id = #{userId});
    </select>

    <delete id="deleteLike" parameterType="HashMap">
        DELETE
        FROM `like`
        WHERE video_id = #{videoId}
          and user_id = #{userId}
    </delete>

</mapper>